@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <h4>Username</h4>
    <h4>Email</h4>
    <h4>Mobile No</h4>
</div>

<User UserId="001" Username="Alekhya"></User>
<User UserId="004" Email="ankitha@gmail.com"></User>
<User UserId="004" Username="Ankitha" Email="ankitha@gmail.com" ></User>
<User UserId="004" Username="Ankitha" MobileNo="1231231" Email="ankitha@gmail.com"></User>


