<h3>User Info</h3>

<div>
    <h4>@UserId</h4>
    <h4>@Username</h4>
    <h4>@Email</h4>
    <h4>@MobileNo</h4>
</div>

@code {
    [Parameter]
    public int UserId { get; set; }
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public string Email { get; set; }
    [Parameter]
    public string MobileNo { get; set; }

}
